.side-bar {
	background: $color-form-border;
	height: 89%;
	min-height: 89%;
	overflow-y: auto;
	position: fixed;
	top: 5%;
	transition: 0.4s;
	width: 18%;
	z-index: 1;
}

.sidebar-subcontainer {
	border-bottom: px-to-rems(1) solid $color-sidebar-button;
	padding-bottom: px-to-rems(16);
	width: 80%;
}

.sidebar-separation {
  padding-left: 2%;
}

.create-segment-container {
	background: $color-sidebar-segment;
	border-radius: px-to-rems(3);
	padding: px-to-rems(14) 0;
}

.create-segment-footer {
	border-top: px-to-rems(1) solid $color-sidebar-button;
	padding-top: px-to-rems(10);
}

.segment-title {
	background: 0;
	border: 0;
	border-bottom: px-to-rems(2) solid $color-light;
	color: $color-light;
	font-size: px-to-rems(16);
	font-weight: 700;
	padding: px-to-rems(5) 0;
}

.segment-edit {
	background: $color-sidebar-button;
	border-radius: px-to-rems(4);
	padding: px-to-rems(8) 0;

	strong {
		overflow: hidden;
  		text-overflow: ellipsis;
  		white-space: nowrap;
	}
}

.segment-view-small {
	width: 85%;
}

.warning {
	background: $color-warning;
	padding: px-to-rems(8) 0;
	position:fixed;
	transition: 0.4s;
	width: 80%;
}

::-webkit-input-placeholder { /* Chrome */
  color: $color-light;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-light;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-light;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $color-light;
  opacity: 1;
}
