.side-bar {
	background: $color-form-border;
	min-height:100%;
	position: fixed;
	width: 18%;
	z-index: 1;
	transition: 0.4s;
}

.img-button {
	vertical-align: text-top;
}

.question-index {
	margin-left: 18%;
	padding-bottom: px-to-rems(80);
	width: 100%;
}

.is-vend {
	align-items: flex-end;
}

.question-card {
	border: px-to-rems(1) solid $color-field;
	border-radius: px-to-rems(4);
	height: px-to-rems(170);
	padding: px-to-rems(8) 0;
}

.more-info {
	display: none;
}

.question-container {
	width: 24%;

	:hover .more-info {
		display: block;
	}
}
