
<div class="login-background">
  <div class="align center text-center">
    <img src="images/strop-logo.svg" class="" alt="">
    <p class="title-text light-color text-center separation-top">Data Intel Viewer</p>
    <div class="align-flex is-column text-left login-form regular-text separation-top">
      <p class="separation-top small">Enter your email</p>
      <input class="separation-top small" type="email" name="" value="">
      <p class="separation-top small">Enter your password</p>
      <input class="separation-top small" type="password" name="" value="">
      <a class="separation-top text-center small button button-pill button-primary button-no-width button-med" href="#">Login</a>
      <a class="separation-top small light-color sub-text">You don't have an account? <strong>Singup</strong> instead</a>
      <a class="separation-top small light-color sub-text" href="#"><strong>Forgot your password?</strong></a>
    </div>
  </div>
</div>
