<div class="workspace-body">
	<div class="container body-separation">
		<div class="loading-body align-flex is-column center">
			<p class="text-small text-loading separation-top">New Workspace</p>
			<h2 class="separation-top small">Zillow Usage and MaxDiff Stuy</h2>
			<div class="separation-top loading-separator"></div>
			<p class="text-center text-title text-primary separation-top">Crunching the data
			<br>for you.</p>
			<p class="separation-top"><strong>20</strong> questions found</p>
			<p class="separation-top small"><strong>1,140</strong> answer</p>
		</div>
	</div>
</div>