<div class="workspace-body">
	<div class="container body-separation">
		<div class="workspace-content">
			<div class="container separation-top">
				<div class="align-flex workspace-title">
					<!-- <img src="images/new-workspace.svg" class="separation-left"> -->
					<%= image_tag "new-workspace.svg", class:'separation-left' %>
					<h2 class="separation-left">New Workspace</h2>
				</div>
				<div class="row workspace-separation">
					<div class="col-4">
						<p class="card-title border-title subtitle-separation separation-top">Data Source</p>
						<p class=" separation-top">Select a project from Qualtrics</p>
						<select class="form-select separation-top small">
							<option>Choose a Qualtrics project</option>
							<option>option 1</option>
							<option>option 2</option>
							<option>option 3</option>
						</select>
						<p class="card-title border-title subtitle-separation separation-top">Template Preferences</p>
						<p class=" separation-top">Select a template for the output PPT</p>
						<select class="form-select separation-top small">
							<option>Strop main PTT template</option>
							<option>option 1</option>
							<option>option 2</option>
							<option>option 3</option>
						</select>
						<a href="" class="button button-ghost button-big separation-top small">Upload new template</a>
					</div>
					<div class="col-7 offset-1">
						<p class="card-title border-title subtitle-separation separation-top">Color Setting</p>
						<div class="align-flex between separation-top">
							<div class=" separation-left">
								<p class="separation-top">Select your main color (or use Strop's Default)</p>
								<div class="align-flex between separation-top">
									<div class="box">
										<div class="color-box separation-top">
											<div class="color-sample"></div>
										</div>
										<p class=" separation-top small text-small text-center">#0094CC</p>
									</div>
									<div class="box">
										<div class="color-box separation-top">
											<div class="color-sample second-color"></div>
										</div>
										<p class="separation-top small text-small text-center">#C7CBCB</p>
									</div>
									<div class="box">
										<div class="color-box separation-top">
											<div class="color-sample third-color"></div>
										</div>
										<p class="separation-top small text-small text-center">#6D6E6E</p>
									</div>
									<div class="box">
										<div class="color-box separation-top">
											<div class="color-sample fourth-color"></div>
										</div>
										<p class="separation-top small text-small text-center">#0E222E</p>
									</div>
								</div>
							</div>
							<div class="preview-box separation-left separation-top">
								<p class="text-small">Preview</p>
								<div class="align-flex center">
									<!-- <img src="images/preview-graph.svg"> -->
									<%= image_tag "preview-graph.svg"%>
								</div>
							</div>
						</div>
						<div class="separation-top">
							<p class="card-title border-title subtitle-separation separation-top">Data Preferences</p>
							<div class="separation-top align-flex">
								<div class="form-med separation-left">
									<p class="separation-top">Recode question based on preferences</p>
									<select class="form-select separation-top small">
										<option>Select a question</option>
										<option>option 1</option>
										<option>option 2</option>
										<option>option 3</option>
									</select>
								</div>
								<div class="form-med separation-left">
									<p class="separation-top">Include criteria</p>
									<select class="form-select separation-top small">
										<option>Include only 'good completes'</option>
										<option>option 1</option>
										<option>option 2</option>
										<option>option 3</option>
									</select>
								</div>
							</div>
							<a href="" class="button button-ghost button-big separation-top small">Add question</a>
						</div>
					</div>
				</div>
			</div>
			<div class="separation-top box-footer">
				<div class=" container align-flex vertical between">
					<a class="text-secondary">Or, <strong>Cancel</strong></a>
					<a href="" class="button button-pill button-primary">Create a new workspace</a>
				</dir>
			</div>
		</div>
	</div>
</div>