<div class="container">
	<h2 class="text-title title-separation">Your Workspaces</h2>
	<div class="align-flex between is-wrap">
		<div class="card card-length separation-left card-separation">
			<div class="">
				<p class="card-title">New Workspace</p>
				<div class="card-down">
					<a href="">
						<!-- <img src="images/new-workspace-icon.svg" class="add-workspace"> -->
						<%= image_tag "new-workspace-icon.svg", class:'add-workspace' %>
					</a>
				</div>
			</div>
		</div>
		<div class="card-length separation-left card-separation">
			<div class="card card-bottom">
				<p class="align-flex is-wrap card-title">Capital One-Vehicle Refinancing Perception Study - Phase 1</p>
				<div class="card-down">
					<p>50 questions</p>
					<p>446 responses</p>
				</div>
			</div>
			<div class="align-flex between">
				<p>Last edited</p>
				<p>Sep 06, 2017</p>
			</div>
		</div>
		<div class="card-length separation-left card-separation">
			<div class="card card-bottom">
				<p class="align-flex is-wrap card-title">Capital One-Vehicle Refinancing Perception Study - Phase 1</p>
				<div class="card-down">
					<p>50 questions</p>
					<p>446 responses</p>
				</div>
			</div>
			<div class="align-flex between">
				<p>Last edited</p>
				<p>Sep 06, 2017</p>
			</div>
		</div>
		<div class="card-length separation-left card-separation">
			<div class="card card-bottom">
				<p class="align-flex is-wrap card-title">Capital One-Vehicle Refinancing Perception Study - Phase 1</p>
				<div class="card-down">
					<p>50 questions</p>
					<p>446 responses</p>
				</div>
			</div>
			<div class="align-flex between">
				<p>Last edited</p>
				<p>Sep 06, 2017</p>
			</div>
		</div>
		<div class="card-length separation-left card-separation">
			<div class="card card-bottom">
				<p class="align-flex is-wrap card-title">Capital One-Vehicle Refinancing Perception Study - Phase 1</p>
				<div class="card-down">
					<p>50 questions</p>
					<p>446 responses</p>
				</div>
			</div>
			<div class="align-flex between">
				<p>Last edited</p>
				<p>Sep 06, 2017</p>
			</div>
		</div>
	</div>
</div>