<div class="align-flex">
	<div class="side-bar text-center text-sidebar ">
		<strong class="text-light separation-top workspace-separation">Custon Segments</strong>
		<a href="" class="button button-pill button-dark separation-top"><img class="img-button" src="images/add-question.svg"> Add new segment</a>
	</div>
	<div class="question-index">
		<div class="container body-separation">
			<div class="align-flex between separation-top">
				<h2>Zillow USage and MaxDiff Study</h2>
				<div class="align-flex is-vend">
					<p class="text-sidebar text-third">Created <strong>Sept 15,2017</strong></p>
				</div>				
			</div>
			<p class="separation-top small text-sidebar text-third"><strong class="text-primary">20</strong> questions -<strong class="text-primary">1,114</strong> answers</p>
			<div class="align-flex is-wrap">
				<div class="question-container separation-left title-separation">
					<div class="question-card text-sidebar align-flex is-column center separation-top">
						<p class="container more-info"><img src="images/pie-chart.svg"> Pie chart</p>
						<img src="images/graphej1.svg">
						<strong class="text-primary display-block text-center more-info"><img class="img-button" src="images/add-to-queue.svg"> Add to queue</strong>
					</div>
					<p class="separation-top small">Which of the following best describes you as a real estate professional? Select one response.</p>
				</div>
				<div class="question-container separation-left title-separation">
					<div class="question-card text-sidebar align-flex is-column center separation-top">
						<p class="container more-info"><img src="images/pie-chart.svg"> Pie chart</p>
						<img src="images/graphej2.svg">
						<strong class="text-primary display-block text-center more-info"><img class="img-button" src="images/add-to-queue.svg"> Add to queue</strong>
					</div>
					<p class="separation-top small">Which of the following best describes you as a real estate professional? Select one response.</p>
				</div>
				<div class="question-container separation-left title-separation">
					<div class="question-card text-sidebar align-flex is-column center separation-top">
						<p class="container more-info"><img src="images/pie-chart.svg"> Pie chart</p>
						<img src="images/graphej3.svg">
						<strong class="text-primary display-block text-center more-info"><img class="img-button" src="images/add-to-queue.svg"> Add to queue</strong>
					</div>
					<p class="separation-top small">Which of the following best describes you as a real estate professional? Select one response.</p>
				</div>
				<div class="question-container separation-left title-separation">
					<div class="question-card text-sidebar align-flex is-column center separation-top">
						<p class="container more-info"><img src="images/pie-chart.svg"> Pie chart</p>
						<img src="images/graphej4.svg">
						<strong class="text-primary display-block text-center more-info"><img class="img-button" src="images/add-to-queue.svg"> Add to queue</strong>
					</div>
					<p class="separation-top small">Which of the following best describes you as a real estate professional? Select one response.</p>
				</div>
				<div class="question-container separation-left title-separation">
					<div class="question-card text-sidebar align-flex is-column center separation-top">
						<p class="container more-info"><img src="images/pie-chart.svg"> Pie chart</p>
						<img src="images/graphej5.svg">
						<strong class="text-primary display-block text-center more-info"><img class="img-button" src="images/add-to-queue.svg"> Add to queue</strong>
					</div>
					<p class="separation-top small">Which of the following best describes you as a real estate professional? Select one response.</p>
				</div>
				<div class="question-container separation-left title-separation">
					<div class="question-card text-sidebar align-flex is-column center separation-top">
						<p class="container more-info"><img src="images/pie-chart.svg"> Pie chart</p>
						<img src="images/graphej2.svg">
						<strong class="text-primary display-block text-center more-info"><img class="img-button" src="images/add-to-queue.svg"> Add to queue</strong>
					</div>
					<p class="separation-top small">Which of the following best describes you as a real estate professional? Select one response.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container align-flex between">
		<p><strong>Export Queue</strong> (empty)</p>
		<img src="images/arrowwhite-up.svg">
	</div>
</div>